body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u2 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u5 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:10px;
  top:539px;
  width:280px;
  height:30px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  line-height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:55px;
  top:537px;
  width:27px;
  height:27px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:138px;
  width:360px;
  height:48px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#34475E;
  text-align:left;
  line-height:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u12 {
  position:absolute;
  left:20px;
  top:13px;
  width:330px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:60px;
  width:360px;
  height:48px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33495F;
  text-align:left;
  line-height:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u14 {
  position:absolute;
  left:20px;
  top:17px;
  width:330px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:186px;
  width:360px;
  height:48px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#34475E;
  text-align:left;
  line-height:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u16 {
  position:absolute;
  left:20px;
  top:13px;
  width:330px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:302px;
  top:66px;
  width:37px;
  height:37px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:106px;
  width:360px;
  height:33px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
}
#u20 {
  position:absolute;
  left:20px;
  top:4px;
  width:330px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:234px;
  width:360px;
  height:33px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
}
#u22 {
  position:absolute;
  left:20px;
  top:4px;
  width:330px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:10px;
  top:111px;
  width:21px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:10px;
  top:239px;
  width:21px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:267px;
  width:360px;
  height:33px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
}
#u28 {
  position:absolute;
  left:20px;
  top:4px;
  width:330px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:10px;
  top:273px;
  width:21px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:300px;
  width:360px;
  height:33px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
}
#u32 {
  position:absolute;
  left:20px;
  top:4px;
  width:330px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:10px;
  top:305px;
  width:21px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:333px;
  width:360px;
  height:33px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
}
#u36 {
  position:absolute;
  left:20px;
  top:4px;
  width:330px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:10px;
  top:338px;
  width:21px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:62px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#34475E;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:62px;
}
#u40_img.selected {
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:23px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:341px;
  top:19px;
  width:6px;
  height:22px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:22px;
}
#u43 {
  position:absolute;
  left:2px;
  top:3px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:72px;
  top:28px;
  width:150px;
  height:16px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:251px;
  top:21px;
  width:18px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:294px;
  top:19px;
  width:20px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:72px;
  top:20px;
  width:49px;
  height:16px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:28px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:13px;
  top:17px;
  width:25px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1BBC9C;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:72px;
  top:21px;
  width:68px;
  height:28px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:28px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:326px;
  top:149px;
  width:11px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:29px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:329px;
  top:195px;
  width:11px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:29px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
