body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:163px;
  width:200px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:234px;
  top:217px;
  width:36px;
  height:45px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:45px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
  opacity:0.8;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:217px;
  width:202px;
  height:45px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:45px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
  opacity:0.8;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:198px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:264px;
  visibility:hidden;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:9px;
  width:240px;
  height:164px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:164px;
}
#u8 {
  position:absolute;
  left:2px;
  top:74px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:211px;
  top:0px;
  width:20px;
  height:9px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:2px;
  top:19px;
  width:236px;
  height:37px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:left;
  line-height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u11_img.selected {
}
#u11.selected {
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:20px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:167px;
  width:240px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:173px;
  width:240px;
  height:53px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:left;
  line-height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:53px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:20px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:2px;
  top:56px;
  width:236px;
  height:37px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:left;
  line-height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u16_img.mouseDown {
}
#u16.mouseDown {
}
#u17 {
  position:absolute;
  left:20px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:2px;
  top:93px;
  width:236px;
  height:37px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:left;
  line-height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u18_img.mouseDown {
}
#u18.mouseDown {
}
#u19 {
  position:absolute;
  left:20px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:2px;
  top:130px;
  width:236px;
  height:37px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:left;
  line-height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u20_img.selected {
}
#u20.selected {
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u20_img.mouseDown {
}
#u20.mouseDown {
}
#u21 {
  position:absolute;
  left:20px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:228px;
  top:217px;
  width:10px;
  height:45px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:45px;
}
#u23 {
  position:absolute;
  left:363px;
  top:200px;
  width:27px;
  height:37px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:37px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:363px;
  top:254px;
  width:27px;
  height:37px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:37px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:363px;
  top:315px;
  width:37px;
  height:37px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:363px;
  top:376px;
  width:37px;
  height:37px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:363px;
  top:433px;
  width:37px;
  height:37px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
