body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u2 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:60px;
  top:172px;
  width:240px;
  height:46px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#B2BCC6;
  text-align:left;
  line-height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:46px;
}
#u3_img.selected {
}
#u3.selected {
}
#u4 {
  position:absolute;
  left:12px;
  top:15px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:172px;
  width:220px;
  height:45px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background-color:transparent;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#BDC3C7;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:265px;
  top:182px;
  width:25px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:235px;
  width:240px;
  height:46px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#B2BCC6;
  text-align:left;
  line-height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:46px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:12px;
  top:15px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:235px;
  width:220px;
  height:45px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  background-color:transparent;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#BDC3C7;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:265px;
  top:245px;
  width:25px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u11_img.selected {
}
#u11.selected {
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:114px;
  top:310px;
  width:130px;
  height:40px;
  line-height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
  opacity:0.8;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:32px;
  top:106px;
  width:280px;
  height:44px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#33495F;
  line-height:42px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:44px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:378px;
  width:280px;
  height:50px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#33495F;
  line-height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
