body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u2 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:-20px;
  top:60px;
  width:380px;
  height:160px;
  color:#333333;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:160px;
}
#u4 {
  position:absolute;
  left:2px;
  top:72px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:230px;
  width:265px;
  height:22px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#34475E;
  text-align:left;
  line-height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:10px;
  top:253px;
  width:270px;
  height:44px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#34475E;
  text-align:left;
  line-height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:275px;
  width:260px;
  height:22px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#34475E;
  text-align:left;
  line-height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:60px;
  width:360px;
  height:160px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
}
#u12 {
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:297px;
  top:72px;
  width:19px;
  height:18px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:280px;
  top:179px;
  width:60px;
  height:70px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:68px;
  color:#E94D3C;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:294px;
  top:193px;
  width:32px;
  height:37px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:357px;
  width:360px;
  height:45px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u20 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:11px;
  top:371px;
  width:332px;
  height:16px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:309px;
  width:220px;
  height:16px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u24 {
  position:absolute;
  left:12px;
  top:0px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:50px;
  top:309px;
  width:60px;
  height:16px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u26 {
  position:absolute;
  left:12px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:108px;
  top:309px;
  width:26px;
  height:16px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u28 {
  position:absolute;
  left:12px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:90px;
  top:325px;
  width:160px;
  height:30px;
  line-height:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:634px;
  width:360px;
  height:87px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:87px;
}
#u32 {
  position:absolute;
  left:2px;
  top:36px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:11px;
  top:654px;
  width:332px;
  height:48px;
  font-family:'Roboto-LightItalic', 'Roboto Light Italic', 'Roboto';
  font-size:14px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:48px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:303px;
  top:654px;
  width:37px;
  height:37px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:294px;
  top:689px;
  width:60px;
  height:11px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:332px;
  top:363px;
  width:11px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:29px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:403px;
  width:360px;
  height:45px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u42 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:11px;
  top:417px;
  width:332px;
  height:16px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:-1px;
  top:449px;
  width:360px;
  height:45px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u46 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:10px;
  top:463px;
  width:332px;
  height:16px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:495px;
  width:360px;
  height:45px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u50 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:11px;
  top:509px;
  width:332px;
  height:16px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:332px;
  top:411px;
  width:11px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:29px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:331px;
  top:458px;
  width:11px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:29px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:332px;
  top:503px;
  width:11px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:29px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:0px;
  top:541px;
  width:360px;
  height:45px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u60 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:11px;
  top:555px;
  width:332px;
  height:16px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:332px;
  top:549px;
  width:11px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:29px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:0px;
  top:587px;
  width:360px;
  height:45px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u66 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:11px;
  top:601px;
  width:332px;
  height:16px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:332px;
  top:595px;
  width:11px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:29px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:284px;
  top:374px;
  width:30px;
  height:16px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:12px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:270px;
  top:423px;
  width:45px;
  height:16px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:271px;
  top:467px;
  width:45px;
  height:16px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:272px;
  top:512px;
  width:45px;
  height:16px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:269px;
  top:559px;
  width:45px;
  height:12px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:12px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:268px;
  top:606px;
  width:45px;
  height:16px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:12px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:62px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#34475E;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:62px;
}
#u84_img.selected {
}
#u84.selected {
}
#u85 {
  position:absolute;
  left:2px;
  top:23px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:341px;
  top:19px;
  width:6px;
  height:22px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:22px;
}
#u87 {
  position:absolute;
  left:2px;
  top:3px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:72px;
  top:28px;
  width:150px;
  height:16px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:251px;
  top:21px;
  width:18px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:294px;
  top:19px;
  width:20px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:72px;
  top:20px;
  width:49px;
  height:16px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:28px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:13px;
  top:17px;
  width:25px;
  height:29px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1BBC9C;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:73px;
  top:22px;
  width:140px;
  height:28px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:28px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
